<div id="particles-js"></div>















<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experience </h2>
  
    <div class="timeline">
  
      <div class="container left">
        <div class="content">
          <div class="tag">
            <h2>SMIIT LTD London</h2>
          </div>
          <div class="desc">
              <h3> DevRel Engineer🥑</h3>
              <p>Oct 2022 - Jan 2023</p>
              <p> - Working on building a web-based Mentorship platform
                for mentoring students.
                <br>
                - Managing the platform, and community, developing and
                deploying solutions using ReactJs, MongoDB, NodeJs and
                Google Cloud Platform.</p>
          </div>
        </div>
      </div>
  
  
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>Google</h2>
          </div>
          <div class="desc">
              <h3> Google DSC Lead 2022</h3>
              <p>Aug 2022 - Jul 2023</p>
              <p> Appointed as Google Developer Student Club Lead for the
                first time on my campus and brought the coding culture
                around the campus. <br>
                Organizing technical programs, and providing mentorship to
                students.</p>
          </div>
        </div>
      </div>
  
      <div class="container left">
        <div class="content">
          <div class="tag">
            <h2>YouTube</h2>
          </div>
          <div class="desc">
              <h3>YouTube Creator</h3>
              <p>Aug 2021 - Present</p>
              <p> Channel with 2.70K+ Subscribers on Educational and Informational Videos related to Computer Science and different technical domains.
                - Self-growth and opportunities for CS students.
                - Learning Videos for different Technologies </p>
                <br>
               <a href="https://www.youtube.com/c/SauravMukherjee44/">Visit here</a> 
                 
              
          </div>
        </div>
      </div>
  
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>Google Cloud </h2>
          </div>
          <div class="desc">
              <h3> Google Cloud Facilitator </h3>
              <h2>Student Mentor</h2>
              <p>April 2022 - August 2022</p>
              <p>
                - Through the Google Cloud Ready Facilitator program I Mentored 4000+ Students from India to complete 20,000+ Quests and 9,000+ Skill Badges on the Google Cloud Platform during the program.</p>
          </div>
        </div>
      </div>
    
  
    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>ConnectBud</h2>
        </div>
        <div class="desc">
            <h3>Coding-Tutor</h3>
            <p>Aug 2021 - Present</p>
            <p>ConnectBud Tutor | Live 1:1 Online Coding Classes for Kids.</p>
            
        </div>
      </div>
    </div>
  
  
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>GirlScript Summer of Code</h2>
          </div>
          <div class="desc">
              <h3>Open Source Mentor and Project Admin</h3>
              <p>March 2022 - July 2022</p>
              <p>
                Mentored 500+ Students to get started with open source contributions using my projects.</p>
          </div>
        </div>
      </div>
  
      <div class="container left">
        <div class="content">
          <div class="tag">
            <h2>INTEL</h2>
          </div>
          <div class="desc">
              <h3>Student Lead</h3>
              <p>DEC 2021 - April 2022</p>
              <p> Simplify programming, improve efficiency, and aid innovation on the latest Intel® CPUs, GPUs, and FPGAs using Intel® one API Toolkits, the Intel® AI Analytics Toolkit, and the new programming language, Data-Parallel.
                - Deliver technical content on Intel’s Developer Website discussing my research, projects, and interests in the space of IoT, Deep Learning, and Artificial Intelligence.
                - Host speaker of Ambassador Labs on campus, connecting with my peers and local community, providing training and insight into our work.</p>
          </div>
        </div>
      </div>
  
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>Microsoft Azure</h2>
          </div>
          <div class="desc">
              <h3>Azure Dev Lead</h3>
              <p>Jan 2022- Present</p>
              <p> As an Azure Developer Lead, I had organized several Tech Events Focused on Azure Technologies at my local Chapter.</p>
          </div>
        </div>
      </div>
        </div>
  
  
      
  
      
    <div class="morebtn">
      <a href="#" class="btn"><span>View All</span>
        <i class="fas fa-arrow-right"></i>
    </a>
    </div>
  
  </section>
  <!-- experience section ends -->

<!-- contact section starts -->
<section class="contact" id="contact">
  
    <h2 class="heading"><i class="fas fa-headset"></i> Get in <span>Touch</span></h2>
    <div class="container">
      <div class="content">
        <div class="image-box">
          <img draggable="false" src="/aplicacaoweb/src/assets/logo_transparent_1.png" alt="Contact Image">
        </div>
      <form id="contact-form">
        
        <div class="form-group">
          <div class="field">
            <input type="text" name="name" placeholder="Nome" required>
            <i class='fas fa-user'></i>
          </div>
          <div class="field">
            <input type="email" name="email" placeholder="Email" required>
            <i class='fas fa-envelope'></i>
          </div>
          <div class="field">
            <input type="tel" name="phone" placeholder="Celular">
            <i class='fas fa-phone-alt'></i>
          </div>
          <div class="message">
          <textarea name="message" placeholder="Mensagem" required></textarea>
          <i class="fas fa-comment-dots"></i>
          </div>
        </div>
        <div class="button-area">
          <button type="submit">
            Submit <i class="fa fa-paper-plane"></i></button>
        </div>
      </form>
    </div>
    </div>
</section>
<!-- contact section ends -->
