<div id="banana"></div>
 <div id="particles-js"></div>



<!-- about section starts -->
<section class="about" id="sobre">
  <h2 class="heading"><i class="fas fa-user-alt"></i> Sobre <span>Nós</span></h2>
  
  <div class="row">

  <div class="image">
      <img draggable="false" class="tilt" src="" alt="">
  </div>
  <div class="content">
      <h3>Tempo: desde 86</h3>
      <span class="tag">Empresa de tecnologia  | Evolução de negocios </span>
      <p>Somos uma empresa de tecnologia com propósito de capacitar e fomentar conhecimento que gere bem estar e evolução nos negócios dos nossos clientes.. 
        <br>
        Nosso slogan, conhecer transformar evoluir adere aos nossos principios e ações visando primeiro conhecer as necessidades,transformar o que for possível e então evoluir sugerindo ações que levem ao sucesso e bem estar desejados.
       </p>
  </div>
  </div>
</section>

<section class="skills" id="skills">

  <h2 class="heading"><i class="fas fa-handshake"></i> Patrocinadores</h2>

  <div class="container">
        <div class="row" id="skillsContainer">

          <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=V5cGWnc9R4xj&format=png&color=000000" alt="Google Icon" />
                <span>Google</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=22989&format=png&color=000000" alt="Microsoft Icon" />
                <span>Microsoft</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=17843&format=png&color=000000" alt="Apple Icon" />
                <span>Apple</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=21295&format=png&color=000000" alt="Amazon Icon" />
                <span>Amazon</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=PvvcWRWxRKSR&format=png&color=000000" alt="Meta Icon" />
                <span>Meta</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=31754&format=png&color=000000" alt="IBM Icon" />
                <span>IBM</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=oDphkoWwBm40&format=png&color=000000" alt="Playstation Icon" />
                <span>Playstation</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=34784&format=png&color=000000g" alt="Tesla Icon" />
                <span>Tesla</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=30998&format=png&color=000000" alt="Discord Icon" />
                <span>Discord</span>
            </div>
        </div>
        
        <div class="bar">
            <div class="info">
                <img src="https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=000000" alt="LinkedIn Icon" />
                <span>LinkedIn</span>
            </div>
        </div>
        
        

        </div>
</div>
</section>

<!-- work project section starts -->
<section class="work" id="work">
    <h2 class="heading">
      <i class="fas fa-user-cog"></i> Projects <span>Made</span>
    </h2>
  
    <div class="box-container">
      <div class="box tilt">
        <img draggable="false" src="./assets/images/projects/mlpr.jpg" alt="E-Mail Classification ML Model" />
        <div class="content">
          <div class="tag">
            <h3>Banco de dados</h3>
          </div>
          <div class="desc">
            <p> <b>Potencialize sua gestão de dados conosco!</b> <br/> Oferecemos administração detalhada, garantindo estabilidade e segurança. Desenvolvemos designs personalizados, realizamos migrações seguras e eficientes, investimos em performance tuning para proporcionar uma experiência de usuário ágil…</p>
          </div>
        </div>
      </div>
  
      <div class="box tilt">
        <img draggable="false" src="./assets/images/projects/portfolio1.jpg" alt="Portfolio Website" />
        <div class="content">
          <div class="tag">
            <h3>Mediação de Conflitos</h3>
          </div>
          <div class="desc">
            <p> <b>Transforme a gestão de conflitos com nossa Plataforma de Mediação Jurídica!</b> <br/> Oferecemos recursos avançados de mediação, conciliação e arbitragem, promovendo soluções flexíveis para disputas. Integramos vídeo assistência para comunicação clara e direta, e fornecemos gerenciamento detalhado de conflitos…</p>
          </div>
        </div>
      </div>
  
      <div class="box tilt">
        <img draggable="false" src="./assets/images/projects/Library.png" alt="College Library Website" />
        <div class="content">
          <div class="tag">
            <h3>RFID</h3>
          </div>
          <div class="desc">
            <p><b>As RFID Tags Inteligentes representam uma solução poderosa!!</b> <br/> Para empresas que buscam melhorar sua eficiência operacional, garantir a precisão do inventário e fortalecer a segurança da cadeia de suprimentos. Com sua capacidade de fornecer informações em tempo real e automatizar processos…</p>
          </div>
        </div>
      </div>
  
      <div class="box tilt">
        <img draggable="false" src="./assets/images/projects/CodeIN.jpg" alt="CodeIN Community Website" />
        <div class="content">
          <div class="tag">
            <h3>Desenvolvimento de Software</h3>
          </div>
          <div class="desc">
            <p><b>Transforme sua experiência digital conosco!</b> <br/> Desenvolvemos aplicações mobile, websites, e-commerce de loja virtual, micro serviços, API’s, web API’s, integração de sistemas e portais para BI – Dashboard. Proporcionamos soluções personalizadas que aprimoram o controle de acesso veicular, otimizam o inventário e possibilitam rastreamento preciso da movimentação de ativos…</p>
          </div>
        </div>
      </div>
  
      <div class="box tilt">
        <img draggable="false" src="./assets/images/projects/Netflix.PNG" alt="Netflix Clone | React-App" />
        <div class="content">
          <div class="tag">
            <h3>TEXTO</h3>
          </div>
          <div class="desc">
            <p>TEXTO</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- work project section ends -->
  

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-book"></i> Historia </h2>
  
    <div class="timeline">
    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>VOLIT...</h2>
        </div>
        <div class="desc">
            <h3>TEXTO TEXTO</h3>
            <p>TEXTO TEXTO</p>
            
        </div>
      </div>
    </div>
  
  
      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>VOLIT FOI CRIADA EM...</h2>
          </div>
          <div class="desc">
              <h3>TEXTO TEXTO</h3>
              <p>TEXTO TEXTO</p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="morebtn">
      <a href="#" class="btn"><span>VER TUDO</span>
        <i class="fas fa-arrow-right"></i>
    </a>
    </div>
  
  </section>
  <!-- experience section ends -->

<!-- contact section starts -->
<section class="contact" id="contact">
  
    <h2 class="heading"><i class="fas fa-headset"></i> Entre em contato </h2>
    <div class="container">
      <div class="content">
        <div class="image-box">
          <img draggable="false" src="/aplicacaoweb/src/assets/logo_transparent_1.png" alt="CONTATO IMG">
        </div>
      <form id="contact-form">
        
        <div class="form-group">
          <div class="field">
            <input type="text" name="name" placeholder="Nome" required>
            <i class='fas fa-user'></i>
          </div>
          <div class="field">
            <input type="email" name="email" placeholder="Email" required>
            <i class='fas fa-envelope'></i>
          </div>
          <div class="field">
            <input type="tel" name="phone" placeholder="Celular">
            <i class='fas fa-phone-alt'></i>
          </div>
          <div class="message">
          <textarea name="message" placeholder="Mensagem" required></textarea>
          <i class="fas fa-comment-dots"></i>
          </div>
        </div>
        <div class="button-area">
          <button type="submit">
            Submit <i class="fa fa-paper-plane"></i></button>
        </div>
      </form>
    </div>
    </div>
</section>
<!-- contact section ends -->
