    #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
  }

 /* hero section starts */
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 65vh;
  width: 100%;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 10rem;
  z-index: 1;
  text-align: center;
}

.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}

.home .content p span {
  font-size: 2.5rem;
  color: rgba(166, 101, 201, 0);
  font-weight: 600;
  padding: 1rem 0;
}

/* Ajuste do tamanho e posicionamento da logo */
.home .logo img {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 250px;
  height: auto;
}

/* Ajuste da imagem dos elos */
.home .content img {
  max-width: 100%;
  height: auto;
}

/* hero media queries */
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }

  .socials {
    margin-top: 12rem;
  }

  .home .image img {
    margin-top: -12rem;
  }

  .home .content p {
    font-size: 2.2rem;
  }

  .home .content p span {
    font-size: 2.2rem;
  }
}
/* hero section end */



/* about section starts */
.about {
  background: rgb(227, 235, 250);
}
.about .row{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img{
  margin: 4rem;
  width: 30rem;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode:luminosity;
  transition: .3s;
  cursor: pointer;
}
.about .row .image img:hover{
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3{
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.about .row .content .tag{
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p{
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: 'Nunito';
  font-weight: 600;
}
.about .row .content .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: 'Nunito';
  font-weight: 600;
}
.about .row .content .box-container .box p{
  text-transform: none;
}
.about .row .content .box-container .box p span{
  color:#424fc9;
}
.resumebtn{
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: .5em;
  transition: 0.3s;
  color: #fff;
  background: #3a18d2f5;
  box-shadow: 0px 5px 10px rgba(7, 7, 1, 0.6);
  font-family: 'Nunito', sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover{
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}
/* about media queries starts*/
@media screen and (max-width: 600px){
  .about .row .image{
    margin-top: 2rem;
  }
  .about .row .image img{
    margin: 0 auto;
    width: 80%;
    mix-blend-mode:normal;
  }
  .about .row{
    padding: .5rem;
    margin-bottom: 7rem;
  }
  .about .row .content{
    padding: 1rem;
  }
  .about .row .content .box-container{
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */
  


section{
 /* min-height: 100vh;*/
  padding: 2rem 9%;
}
.heading{
  font-size: 3.5rem;
  color: rgb(10, 10, 10);
  font-weight: 800;
  text-align: center;
}
.heading span{
  color: rgb(115, 3, 167);
}

.skills {
  min-height: 65vh;
  background: linear-gradient(to bottom, #bd91e4, #7352a5);
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 4rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}
.skills .container .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.skills .container .bar .info img {
  width: 65%;
  height: auto;
  justify-content: center;
  align-content: center;
  object-fit: contain;
  display: block;
}

.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  min-height: 150px;
}

.skills .container .bar .info i {
  font-size: 4rem;
}
.skills .container .bar .info span {
  margin-top: auto;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
  padding-top: 10px;
}


/* Quando a tela for menor, usa 2 imagens por linha */
@media (max-width: 950px) {
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Quando a tela for bem pequena, usa 1 imagem por linha */
@media (max-width: 500px) {
  .skills .container .row {
    grid-template-columns: repeat(1, 1fr);
  }
}





  .home #particles-js{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
  }


/* work section starts */
.work {
  background: linear-gradient(to bottom, #7352a5, #00002c);
  padding: 6rem 8rem;
}

.work h2 {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  padding: 0rem;
  font-size: 2.5rem;
  max-width: 90%;
  margin-bottom: 2rem;
}

.work .heading span {
  color: rgb(255, 230, 0);
}

.work .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between; /* Isso distribui as caixas uniformemente */
}

.work .box-container .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(225, 219, 219, 0.895);
  overflow: hidden;
  transition: transform 0.8s ease-in-out;
  height: 40rem;  /* Definir altura fixa para todas as caixas */
  width: 32%;  /* Garantir que todas as caixas tenham o mesmo tamanho (aproximadamente 3 em cada linha) */
  max-width: 32%; /* Para garantir que se ajuste ao tamanho da tela */
}

.work .box-container .box img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* Restante do código para a descrição e tag do box */
.work .box-container .box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.8s ease-in-out;
}

.work .box-container .box .content .tag {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background: #0f46a2;
  padding: 1rem 0;
  transition: transform 0.8s ease-in-out;
}

.work .box-container .box .content .tag h3 {
  font-size: 1.8rem;
  color: white;
  margin: 0;
  text-align: center;
}

.work .box-container .box .content .desc {
  width: 100%;
  padding: 2rem 1rem;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.work .box-container .box .content .desc p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
}

.work .box-container .box:hover .content {
  transform: translateY(0);
}

.work .box-container .box:hover .content .desc {
  opacity: 1;
}

.work .viewall {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.work .viewall .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: .5em;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 2px solid #fff;
  box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.work .viewall .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: 'Nunito', sans-serif;
}

.work .viewall .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.work .viewall .btn:hover {
  background: #fff;
  color: #000;
}

.work .viewall .btn:hover i {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  /* Ajuste para dispositivos menores: manter apenas 1 item por linha */
  .work .box-container .box {
    flex: 1 1 100%;
    height: 30rem; /* Ajustar altura para dispositivos menores */
  }
}

/* work section ends */


/* Início da seção contato */
.contact {
  background: #e5ecfb;
  min-height: 60vh;
  display: flex;
  flex-direction: column; /* Empilha o conteúdo verticalmente */
  justify-content: center;
  align-items: center;
  text-align: center; /* Garante que o texto do título fique centralizado */
  padding-top: 3rem; /* Espaço acima */
}

.contact .heading {
  display: flex;
  align-items: center;
  gap: 0.7rem; /* Define o espaçamento entre o ícone e o texto */
}

/* Ajustar o título */
.contact h2.heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

/* Ajustar o contêiner para centralizar o conteúdo */
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha verticalmente o conteúdo */
  padding: 2.5rem 2rem;
  flex-direction: column; /* Empilha o conteúdo (imagem e formulário) */
}

/* Ajuste no layout do conteúdo (imagem e formulário) */
.contact .container .content {
  display: flex;
  flex-direction: column; /* Empilha o conteúdo (imagem e formulário) */
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem; /* Espaço entre a imagem e o formulário */
}

.contact .content .image-box {
  max-width: 60%;
  display: block;
}

.contact .content .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem não distorça */
}

.contact .content form {
  width: 80%;
  margin-top: 2rem; /* Espaço entre imagem e formulário */
}

/* Ajustes gerais para o formulário */
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}

.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}

.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}

form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}

form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, .6);
  transition: 0.3s ease;
  font-family: 'Nunito', sans-serif;
}

.button-area button:hover {
  background: #00ff00f5;
}

.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}

.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}

.button-area button:hover i {
  left: 8px;
}

/* Media Queries */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }

  .contact .container {
    margin: 3rem 0 2rem 0;
  }

  .contact .container .content {
    padding: 18px 12px;
    flex-direction: column; /* Empilha os itens na versão mobile */
    align-items: center;  /* Centraliza verticalmente */
  }

  .contact .content .image-box {
    display: none;
  }

  .contact .content form {
    width: 100%;
    margin-right: 0;
  }
}
/* Final contato */
