<section class="footer">

    <div class="box-container">
  
        <div class="box">
            <h3>Volit</h3>
            <p>Conhecer, Transformar, Evoluir!</p>
        </div>
  
        <div class="box">
            <h3>Acessos rapidos</h3>
            <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
            <a href="#sobre"><i class="fas fa-chevron-circle-right"></i> sobre</a>
            <a href="#servicos"><i class="fas fa-chevron-circle-right"></i> servicos</a>
            <a href="#contato"><i class="fas fa-chevron-circle-right"></i> contato</a>
            <a href="#suporte"><i class="fas fa-chevron-circle-right"></i> suporte</a>
  
        </div>
  
        <div class="box">
            <h3>contato</h3>
            
            <p> <i class="fas fa-envelope"></i>luciano&#64;mattoscontabilidade.com.br</p>
            <p> <i class="fas fa-map-marked-alt"></i>AVENIDA DOS EUCALIPTOS, 194</p>
            <div class="share">
  
                <a href="" class="fab fa-linkedin" target="_blank"></a>
                <a href="" class="fab fa-github" target="_blank"></a>
                <a href="" class="fas fa-envelope" target="_blank"></a>
                <a href="" class="fa-brands fa-bluesky" target="_blank"></a>
                <a href="" class="fab fa-instagram" target="_blank"></a>
                <a href="" class="fab fa-youtube" target="_blank"></a>
            </div>
        </div>
    </div>
  
    <h1 class="credit">© 2013-2025 VOLIT GESTAO DE NEGOCIOS LTDA</h1>
  
  </section>

