<header>
    <div id="menu-icon" (click)="toggleMenu()">
      <i class="fas fa-bars"></i> <!-- Ícone do menu -->
    </div>
    <nav class="navbar" [class.show]="menuAberto">
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="#suporte">Suporte</a></li>
        <li><a href="#Portal">Portal</a></li>
      </ul>
    </nav>
  </header>
  