/* navbar starts */
header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.3);
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

#menu-icon i {
  font-size: 2rem;
  color: #0E2431;
}

/* Estilo do menu */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin-left: 2.5rem;
}

.navbar ul li a {
  font-size: 1.57rem;
  color: #0E2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: .2s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
  color: #01ccff;
  border-bottom: .2rem solid #01ccff;
  padding: .5rem 0;
}

/* Responsivo */
@media (max-width: 1110px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 100%;
    background: white;
    display: none;
    box-shadow: 0 1px 4px rgba(146,161,176,.3);
  }

  .navbar ul {
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
  }

  .navbar li {
    margin: 1rem 0;
  }

  .navbar.show {
    display: block;
  }
}
